Experimenty/.ipynb_checkpoints/Feature Selection-checkpoint.ipynb
Experimenty/.ipynb_checkpoints/Random Forests -checkpoint.ipynb
Experimenty/.ipynb_checkpoints/*
Data_npy/Chosen ones/.DS_Store
Data_npy/.npy
modules/__init__.py
modules/__init__.pyc
modules/__pycache__/Classification.cpython-36.pyc
modules/__pycache__/__init__.cpython-36.pyc
modules/__pycache__/datasets.cpython-36.pyc
modules/__pycache__/testy.cpython-36.pyc
modules/__*
modules/testy.py
modules/.DS_Store
.DS_Store
